html {
    background-image: url("/images/123.jpg"); 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family:Arial!important;
    font-size: 20px !important;
    font-weight: 200;
    color: #f0f0f0;
    display: none;
}
/****************header****************/
header{
    margin-bottom: 10px;
    padding: 2em 5%;
    
}

::placeholder{
    color: #dbdbdb;
    opacity: 1;
}

#right-header, #profile {
    float: right;
    background-color: rgba(75, 75, 75, 0.7);
    color: #dbdbdb;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
#profile{
    text-align: center;
}
#logo-div {
    width: auto;
    height: 100%;
    text-align: left;
    float: left;
}
#logo-div img {
    height: 90%;
    width: auto;
    padding-top: 5px;
    padding-left: 5px;
    

}
header > div::before {
    content: '';
    height: 100%;
}
header::after {
    content: '';
    display: inline-block;
    width: 100%;
}

form input{
    background: rgb(19,219,138,0.7) !important;
    border: 1px solid  rgba(75, 75, 75, 0.7) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.sign-up{
    background: rgb(246,246,246,0.0) !important;
    border: 1px solid  rgba(75, 75, 75, 0.0) !important;
    text-align: center;
    width:auto !important;
    padding: 0px !important;
    overflow: hidden !important;
    margin:0px;
    padding-right: 80px;
    height: 460px !important;

   
}

.sign-up-form{
    text-align: center;
    width: auto;
    margin: auto;
    overflow: hidden !important;
    height: auto;


}
.sign-up-form:nth-child(){
    width: 100%;
}
.ui-widget-header{
    background: rgb(246,246,246,0.0) !important;
    border: 1px solid  rgba(75, 75, 75, 0.0) !important;

}
#logout{
    margin: 20px;
}
.ui-dialog-buttonpane{
    background: rgb(246,246,246,0.0) !important;
    border: 1px solid  rgba(75, 75, 75, 0.0) !important;
    text-align: center;
    padding: 8px !important;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.ui-widget{
    background: rgba(12, 177, 206, 0.7 ) !important;
    border: 1px solid  rgba(75, 75, 75, 0.7) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

#create-user{
    float:left;
}



.ui-button {
    text-align: center;
    padding: 6px !important;
    background: rgb(246,246,246,0.7) !important;
    border: 1px solid  rgba(75, 75, 75, 0.7) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5px;
}

.ui-widget-overlay.custom-overlay {
    background-color: black;
    background-image: none;
    opacity: 0.7;
    z-index: 1000;
    
}

.ui-widget-content{
    padding: 6px;
    font-size: 1em;
    margin: 5px;
    color: rgb(190, 229, 250) !important;

}

/**********slider************************/
#bg-block-slider{
    background: rgba(12, 177, 206, 0.8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
    border-radius: 10px;

}
#block-slider{
    top: 15%;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    left: 0%;   
    right: 0%;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.dialog{
    overflow: hidden !important;
}
.ui-state-active{
    background-color: rgb(246,246,246,0.9) !important;
    border: 1px solid  rgba(75, 75, 75, 0.5) !important;
    color: #454545 !important;
    margin-bottom: 5px !important;;
}

#payment-system-choose-menu{
    background: rgba(12, 177, 206, 0.9 ) !important;
}

#viewpoint {
    display: table;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin-right: 25%;
    margin-left: 25%;


}

#slidewrapper {
    position: relative;
    width: calc(100% * 4);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: opacity 0.4s ease-in-out;
    -o-transition-timing-function: opacity 0.4s ease-in-out;
    transition-timing-function:opacity 0.4s ease-in-out ;
}

#slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

#slidewrapper li {
    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
}


.slide-item {
    width: 100%;
    min-height: 400px;
    font-family:'Arial';
}

#next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('/images/right.png');
    background-size: cover;
    border-radius: 50%;
    top: calc(50% - 25px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#prev-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('/images/left.png');
    background-size: cover;
    border-radius: 50%;
    top: calc(50% - 25px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    left: 20px;
}

#next-btn {
    right: 20px;
}

#prev{
    text-decoration: none;
    padding: 8px 16px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    background-color: rgb(246,246,246,0.7);
    color: rgb(52,73,94);
}

#next{
    text-decoration: none;
    padding: 8px 16px;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(246,246,246,0.7);
    color: rgb(52,73,94);
}

#next:hover{
    background-color: rgba(75, 75, 75, 0.7);
    color: #dbdbdb;
}

#prev:hover{
    background-color: rgba(75, 75, 75, 0.7);
    color: #dbdbdb;
}
#nav-btns {
    position: absolute;
    width: 100%;
    top: 90%;
    padding: 0;
    margin: 0;
    text-align: center;
}


.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color:rgba(219, 219, 219, 0.7);
    border-radius: 50%;
    margin: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slide-nav-btn:hover {
    cursor: pointer;
}


/*********footer***************************/
footer {
    width: auto;
    text-align: center;
    background-color: rgba(75, 75, 75, 0.7);
    color: #dbdbdb;

    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

/********personal****************/
#main {
    background: rgba(12, 177, 206, 0.7);
    text-align: center;
    min-height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px 0 10px 0;
    padding: 20px 0;
    border-radius: 10px;
    overflow: auto;
}

.buttons-accord{
    display: inline-block;
}
.ui-dialog-titlebar-close{
    display: none;
}
.ui-dialog{
    overflow:hidden;
}
#captcha{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



#nav-menu{
    background-color: rgb(236,240,241, 0.7);
    background: rgba(255, 255, 255, 0.7);
    min-width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    vertical-align: center;

}


  
#nav-menu ul{
    padding: 0px;
    list-style: none;
    margin-top: 0px;
  }
  #nav-menu img{
      margin:auto;
  }  
  ul.dropdown{ 
    margin: auto;
    max-height: 100px; 
  }
  
  ul.dropdown li{ 
    font-weight: bold; 
    float: left; 
    width: 180px; 
    position: relative;

  }
  
  ul.dropdown a:hover{ 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  ul.dropdown li a { 
    display: block; 
    padding: 20px 8px;
    color: rgb(52,73,94); 
    position: relative; 
    text-align: center;
    text-decoration: none;
    font-weight: 300;
  }
  
  ul.dropdown li a:hover,
  ul.dropdown li a.hover{ 
    background: rgba(12, 177, 206, 0.8);
    position: relative;
    color: rgb(0,0,0,1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  
  ul.dropdown ul{ 
   display: none;
   position: absolute; 
    top: 0; 
    left: 0; 
    z-index: 500;
  }
  
  ul.dropdown ul li { 
    font-weight: normal; 
    background: rgb(246,246,246,0.7);
    border-bottom: 1px solid rgb(204,204,204, 0.7);
  }
  
  ul.dropdown ul li a{ 
    display: block; 
    color: rgb(52,73,94) !important;
    background: rgb(246,246,246,0.7) !important;
  } 
  
  ul.dropdown ul li a:hover{
    display: block; 
    color: rgb(52,73,94) !important;
    background:  rgb(12,177,206, 0.8) !important;
  } 
  
  .drop > a{
    position: relative;
  }
  
  .drop > a:after{
    content:"";
    position: absolute;
    right: 10px;
    top: 40%;
    border-left: 5px solid transparent;
    border-top: 5px solid #333;
    border-right: 5px solid transparent;
  }
  
  .drop > a:hover:after{
    content:"";
     border-left: 5px solid transparent;
    border-top: 5px solid #fff;
    border-right: 5px solid transparent;
  }

  #filter-history {
      margin-top: 10px;
      display: none;
      width: auto !important;
      text-align: center;
      background-color: rgba(75, 75, 75, 0.7);
      color: #dbdbdb;
      padding: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 10px;
  }

  .ui-button:active{
    outline: none !important;
    background-color: rgba(75, 75, 75, 0.7) !important;
  }


@media screen and (max-width: 800px) {
    
    
    
    .money-cell{
        font-size: 20px !important;
        padding: 0px !important;
        width: auto !important;
        text-align: right !important;
    }
    #logo-div {
        display: none;
    } 
    header{  
        text-align: center;
    }
    header > div::before {
        content: '';
        height: 100%;
    }
    header::after {
        content: '';
        display: inline-block;
        width: 100%;
    }
    #right-header {
        
        background-color: rgba(75, 75, 75, 0.7);
        color: #dbdbdb;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px; 
        margin:auto; 
        max-width: 80%;
        text-align: left;
    }

    #right-header  .form_elems{
        width: 90%;
    }
    #viewpoint {
        display: table;
        position: relative;
        overflow: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        margin-right: 1%;
        margin-left: 1%;
    }

    #nav-menu{
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.7);
                background: rgba(255, 255, 255, 0.7);
        display: flex;
        justify-content: center;
        min-height: 238px;
        margin-bottom: 10px;
        border-radius: 10px;
    
    }

    #nav-menu ul{
        padding: 0px;
        list-style: none;
        margin-top: 0px;
        min-width: 100%;
        
      }


      ul.dropdown li{ 
        font-weight: bold; 
        float: left; 
        min-width: 100%; 
        position: relative;
        background: #ecf0f1;
        
    
      }
      
      ul.dropdown a:hover{ 
        color: #000; 
        cursor: pointer;
      }
      
      ul.dropdown li a { 
        display: block; 
        padding: 20px 8px;
        color: #34495e; 
        position: relative; 
        text-align: center;
        text-decoration: none;
        font-weight: 300;
      }

   

      ul.dropdown li a:hover,
      ul.dropdown li a.hover{ 
        background: rgb(21,184,183, 0.7);
        position: relative;
        color: #fff;
        cursor: pointer;
      }
      
      ul.dropdown ul{ 
       display: none;
       position: absolute; 
        top: 0; 
        left: 0; 
        z-index: 500;
      }
      
      ul.dropdown ul li { 
        font-weight: normal; 
        background: #f6f6f6; 
        color: #000; 
        border-bottom: 1px solid #ccc; 
      }
      
      ul.dropdown ul li a{ 
        display: block; 
        color: #34495e !important;
        background: #eee !important;
      } 
      
      ul.dropdown ul li a:hover{
        display: block; 
        background: rgb(21,184,183, 0.7);
        color: #fff !important;
        cursor: pointer;
      } 
      
      .drop > a{
        position: relative;
      }
      
      .drop > a:after{
        content:"";
        position: absolute;
        right: 10px;
        top: 40%;
        border-left: 5px solid transparent;
        border-top: 5px solid #333;
        border-right: 5px solid transparent;
      }
      
      .drop > a:hover:after{
        content:"";
         border-left: 5px solid transparent;
        border-top: 5px solid #fff;
        border-right: 5px solid transparent;
        cursor: pointer;
      }

      .card-table tr td:first-child{
        display: none;
    
        }

        .card-table{
            border-radius: 10px;
            margin:auto !important;
            width: 90%  !important;
            background: rgba(19,219,138,0.7);
            color: whitesmoke !important;
            border-collapse: collapse;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .card-table tbody{
            margin:auto !important;
          }
    
}





  /**********table**********************/
  .card-table{
      border-radius: 10px;
      margin-left: 10%;
      margin-right: 10%;
      width: 80%;
      background: rgb(19,219,138,0.7);
      color: whitesmoke !important;
      border-collapse: collapse;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }



  .card-table tbody{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .card-table tr:first-child{
    padding: 10px;
    border-top:none !important;

}

  .card-table tr:nth-child(odd){
      padding: 10px;
      border-top:2px solid rgba(75, 75, 75, 0.7);

  }

  .card-table td{
    padding: 10px;

    }

  
  .money-cell{
      text-align: right;
      font-size: 35px;
      padding-right: 50px !important;
  }

  .left-cell{
    text-align: left;
  }

  #pages {
    margin-bottom: 10px;
}

#add-acc-form{
    overflow: hidden;
}

