html {
    background-image: url("/images/123.jpg"); 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family:'sans-serif' !important;
    font-size: 1em !important;
    color: #f0f0f0;
    display: none;
}
/****************header****************/
header{
    margin-bottom: 10px;
    text-align: justify;
    letter-spacing: 1px;
    padding: 2em 10%;
}

#right-header {
    display: inline-block;

    

}
#logo-div {
    display: inline-block;
    width: 50%;
    height: 100%;
    text-align: left;
}
#logo-div img {
    height: 90%;
    width: auto;
    padding-top: 5px;
    padding-left: 5px;

}
header > div::before {
    content: '';
    height: 100%;
}
header::after {
    content: '';
    display: inline-block;
    width: 100%;
}

#sign-in form {
    float:left;
}

#create-user{
    float:left;
}


.button {
    font-size: 2ch;
    font-family: "sans-serif";
    background: rgba(255, 255, 255, 0.5);
}
.ui-widget-overlay.custom-overlay {
    background-color: black;
    background-image: none;
    opacity: 0.7;
    z-index: 1000;
    
}

input.pop_form_elems {
    width: 95%;
    padding: .4em;
}

input.form_elems {
    margin: 5px;
    font-size: 2ch;
    font-family: "sans-serif";
    padding: .35em;
    background: rgba(255, 255, 255, 0.5);

}

button{
    margin: 6px;
    padding: .35em;
}

.submit-button{
    margin: 5px;
    padding: .35em;
}

/**********slider************************/
#bg-block-slider{
    background: rgba(12, 177, 206, 0.5);
}
#block-slider{
    top: 15%;
    text-align: center;

    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    left: 0%;   
    right: 0%;
    display: flex;
    justify-content: center;
    padding: 10px;
}


#viewpoint {
    display: table;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin-right: 25%;
    margin-left: 25%;


}

#slidewrapper {
    position: relative;
    width: calc(100% * 4);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: opacity 0.4s ease-in-out;
    -o-transition-timing-function: opacity 0.4s ease-in-out;
    transition-timing-function:opacity 0.4s ease-in-out ;
}

#slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

#slidewrapper li {
    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
}


.slide-item {
    width: 100%;
    min-height: 400px;
    font-family:'sans-serif';
}

#next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('/images/right.png');
    background-size: cover;
    border-radius: 50%;
    top: calc(50% - 25px);
}


#prev-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('/images/left.png');
    background-size: cover;
    border-radius: 50%;
    top: calc(50% - 25px);
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    left: 20px;
}

#next-btn {
    right: 20px;
}

#nav-btns {
    position: absolute;
    width: 100%;
    top: 90%;
    padding: 0;
    margin: 0;
    text-align: center;
}


.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color:rgba(219, 219, 219, 0.5);
    border-radius: 50%;
    margin: 3px;
}

.slide-nav-btn:hover {
    cursor: pointer;
}


/*********footer***************************/
footer {
    width: auto;
    text-align: center;
    background-color: rgba(75, 75, 75, 0.5);
    color: #dbdbdb;
    padding: 10px;

}

/********personal****************/
#main {
    background: rgba(12, 177, 206, 0.5);
    text-align: center;
    min-height: 300px;

}

#accordion-resizer {
    margin: auto;
    padding: 10px;
    width: 50%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.0);
    border: 5px solid transparent;
    
}

.buttons-accord{
    display: inline-block;
}


#captcha{
    display: block;
    margin: 0 auto;
    padding-top: 15px;
}



#nav-menu{
    background-color: rgb(236,240,241, 0.7);
    min-width: 100%;
    display: flex;
    justify-content: center;

}

.ui-accordion-header{
    background-color:rgb(21,184,183, 0.6);
 }

  
#nav-menu ul{
    padding: 0px;
    list-style: none;
    height: auto;
  }
  
  ul.dropdown{ 
    margin: auto;
    max-height: 100px; 
  }
  
  ul.dropdown li{ 
    font-weight: bold; 
    float: left; 
    width: 180px; 
    position: relative;
    background: rgba(236, 240, 241, 0);

  }
  
  ul.dropdown a:hover{ 
    color: rgb(255,255,255, 0.5);
  }
  
  ul.dropdown li a { 
    display: block; 
    padding: 20px 8px;
    color: rgb(52,73,94); 
    position: relative; 
    text-align: center;
    text-decoration: none;
    font-weight: 300;
  }
  
  ul.dropdown li a:hover,
  ul.dropdown li a.hover{ 
    background: rgb(21,184,183, 0.6);
    position: relative;
    color: rgb(0,0,0,1);
  }
  
  
  ul.dropdown ul{ 
   display: none;
   position: absolute; 
    top: 0; 
    left: 0; 
    z-index: 500;
  }
  
  ul.dropdown ul li { 
    font-weight: normal; 
    background: rgb(246,246,246,0.5);
    color:rgb(255,225,255, 1);
    border-bottom: 1px solid rgb(204,204,204, 0.5);
  }
  
  ul.dropdown ul li a{ 
    display: block; 
    color: rgb(52,73,94) !important;
    background: rgb(246,246,246,0.5) !important;
  } 
  
  ul.dropdown ul li a:hover{
    display: block; 
    background:  rgb(21,184,183, 0.6) !important;
    color:rgb(255,225,255) !important;
  } 
  
  .drop > a{
    position: relative;
  }
  
  .drop > a:after{
    content:"";
    position: absolute;
    right: 10px;
    top: 40%;
    border-left: 5px solid transparent;
    border-top: 5px solid #333;
    border-right: 5px solid transparent;
  }
  
  .drop > a:hover:after{
    content:"";
     border-left: 5px solid transparent;
    border-top: 5px solid #fff;
    border-right: 5px solid transparent;
  }

@media screen and (max-width: 726px) {
    #logo-div {
        display: none;
    } 
    
    #viewpoint {
        display: table;
        position: relative;
        overflow: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        margin-right: 1%;
        margin-left: 1%;
    }
    #accordion-resizer {
        margin: auto;
        width: 80%;
        height: auto;
        background-color: rgba(255, 255, 255, 0.0);
        border: 5px solid transparent;
        text-align: center;
        
    }

    #nav-menu{
        background-color: rgba(255, 255, 255, 0.0);
        display: flex;
        justify-content: center;
        height: 400px;
    
    }



      
      ul.dropdown li{ 
        font-weight: bold; 
        float: left; 
        width: 100%; 
        position: relative;
        background: #ecf0f1;
    
      }
      
      ul.dropdown a:hover{ 
        color: #000; 
      }
      
      ul.dropdown li a { 
        display: block; 
        padding: 20px 8px;
        color: #34495e; 
        position: relative; 
        text-align: center;
        text-decoration: none;
        font-weight: 300;
      }

   

      ul.dropdown li a:hover,
      ul.dropdown li a.hover{ 
        background: rgb(21,184,183, 0.6);
        position: relative;
        color: #fff;
      }
      
      
      ul.dropdown ul{ 
       display: none;
       position: absolute; 
        top: 0; 
        left: 0; 
        z-index: 500;
      }
      
      ul.dropdown ul li { 
        font-weight: normal; 
        background: #f6f6f6; 
        color: #000; 
        border-bottom: 1px solid #ccc; 
      }
      
      ul.dropdown ul li a{ 
        display: block; 
        color: #34495e !important;
        background: #eee !important;
      } 
      
      ul.dropdown ul li a:hover{
        display: block; 
        background: rgb(21,184,183, 0.6);
        color: #fff !important;
      } 
      
      .drop > a{
        position: relative;
      }
      
      .drop > a:after{
        content:"";
        position: absolute;
        right: 10px;
        top: 40%;
        border-left: 5px solid transparent;
        border-top: 5px solid #333;
        border-right: 5px solid transparent;
      }
      
      .drop > a:hover:after{
        content:"";
         border-left: 5px solid transparent;
        border-top: 5px solid #fff;
        border-right: 5px solid transparent;
      }
    
}


/******history*********/

#history-table table{
    margin: auto;
}
#history-table{
    padding: 10px;
    overflow: auto;
}
.nothing-to-show {
    text-align: center;
}
table.paleBlueRows {
    min-width: 350px;
    min-height: 200px;
    text-align: center;
    color: #4b4b4b;
    border-collapse: collapse;
  }
  table.paleBlueRows td, table.paleBlueRows th {
    padding: 3px 2px;
    font-weight: normal;
  }

  table.paleBlueRows thead {
    background-color: rgba(75, 75, 75, 0.5);
    color: #f0f0f0;
    font-weight: normal;

  }

